
%iconbase {
	font-family: 'jme';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	zoom: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


%icon-spinner {
	@extend %iconbase;
	&:before {
		content: "\e612";
	}
}

%icon-expand {
	@extend %iconbase;
	&:before {
		content: "\e604";
	}
}

%icon-contract {
	@extend %iconbase;
	&:before {
		content: "\e605";
	}
}

%icon-config {
	@extend %iconbase;
	&:before {
		content: "\e606";
	}
}

%icon-list {
	@extend %iconbase;
	&:before {
		content: "\e607";
	}
}

%icon-play-circle {
	@extend %iconbase;
	&:before {
		content: "\e608";
	}
}
%icon-pause-circle {
	@extend %iconbase;
	&:before {
		content: "\e609";
	}
}

%icon-play {
	@extend %iconbase;
	&:before {
		content: "\e60a";
	}
}

%icon-pause {
	@extend %iconbase;
	&:before {
		content: "\e60b";
	}
}

%icon-volume-high {
	@extend %iconbase;
	&:before {
		content: "\e60c";
	}
}

%icon-volume-medium {
	@extend %iconbase;
	&:before {
		content: "\e60d";
	}
}

%icon-volume-low {
	@extend %iconbase;
	&:before {
		content: "\e60e";
	}
}

%icon-volume-mute {
	@extend %iconbase;
	&:before {
		content: "\e60f";
	}
}

%icon-volume-mute2 {
	@extend %iconbase;
	&:before {
		content: "\e610";
	}
}
%icon-share {
	@extend %iconbase;
	&:before {
		content: "\e611";
	}
}

%icon-play3 {
	@extend %iconbase;
	&:before {
		content: "\e614";
	}
}

%icon-cc {
	@extend %iconbase;
	&:before {
		content: "\e600";
	}
}

%icon-checkbox-checked {
	@extend %iconbase;
	&:before {
		content: "\e616";
	}
}
%icon-checkbox-unchecked {
	@extend %iconbase;
	&:before {
		content: "\e617";
	}
}

%icon-code {
	@extend %iconbase;
	&:before {
		content: "\e619";
	}
}

%icon-disk {
	@extend %iconbase;
	&:before {
		content: "\e613";
	}
}

%icon-next {
	@extend %iconbase;
	&:before {
		content: "\e602";
	}
}
%icon-previous {
	@extend %iconbase;
	&:before {
		content: "\e603";
	}
}
%icon-olist {
	@extend %iconbase;
	&:before {
		content: "\e615";
	}
}

%icon-loop {
	@extend %iconbase;
	&:before {
		content: "\e601";
	}
}
