%clearfix {
	zoom: 1;

	&:before,
	&:after {
		display: table;
		clear: both;
		content: ' ';
	}
}
$browser-context: 13; // Default

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}

