@import "_extends.scss";

.ws-important-hide {
	display: none !important;
	visibility: hidden !important;
	position: absolute;
	top: -999999px;
}

/*
.webshims-debug-list {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background: #fff;
	color: #930;
	font-size: 16px;
	font-weight: bold;
	max-height: 200px;
	z-index: 99999;
	overflow-y: auto;
	
	li {
		border: 1px solid #c60;
		margin: 2px 0;
		padding: 5px;
	}
}*/

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

audio {
	display: none;
	height: 0;
	width: 0;
	overflow: hidden;
}

video {
	overflow: hidden;
}

video,
audio[controls],
audio.webshims-controls {
	display: inline-block;
	min-height: 45px;
	min-width: 40px;
}

video > *,
audio > * {
	visibility: hidden;

	.no-swf & {
		visibility: inherit;
	}
}

.polyfill-mediaelement > iframe {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.flashblocker-assumed {
	min-height: 20px;
	min-width: 20px;
	z-index: 99999;
}

.cue-display {
	position: absolute !important;
	margin: 0;
	padding: 0px !important;
	max-width: 100% !important;
	max-height: 100% !important;
	border: none !important;
	background: none !important;
	text-align: center;
	visibility: hidden;
	font-family: sans-serif;
	font-size: 12px;
	white-space: pre-wrap;
	overflow: hidden;

	b {
		font-weight: bold;
	}

	i {
		font-style: italic;
	}

	u {
		text-decoration: underline;
	}

	span.cue-wrapper {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
		padding: 0;
		margin: 0;
		width: 100%;
		font-size: 160%;
		color: #fff;
		visibility: visible !important;
	}

	.cue-line {
		display: block;
	}

	span.cue {
		display: inline-block;
		padding: 3px 5px;
		background: #000;
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
	}

	.description-cues {
		position: absolute;
		top: -99px;
		left: -99px;
		display: block;
		width: 5px;
		height: 5px;
		overflow: hidden;
	}
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* reset */
.ws-range,
.ws-range *,
.placeholder-box,
.placeholder-text,
.input-buttons,
.input-buttons *,
.details-open-indicator,
.ws-input-seperator,
progress span.progress-value {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	background: transparent none;
}
output {
	position: relative;
}

.webshims-visual-hide {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
}

.webshims-visual-hide * {
	visibility: hidden !important;
}

/* placeholder */
.placeholder-box {
	position: relative;
	display: inline-block;
	zoom: 1;
}

.placeholder-box-input {
	vertical-align: bottom;
}

.placeholder-box-left {
	float: left;
}

.placeholder-box-right {
	float: right;
}

.placeholder-text {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #999;
	line-height: 1;
	cursor: text;

	.placeholder-visible &,
	&.placeholder-visible {
		display: inline-block;
	}

	.placeholder-box-input & {
		white-space: nowrap;
	}
}

.placeholder-visible {
	color: #999;
}

.placeholder-focused.placeholder-visible {
	color: #ccc;
}

/*
 * popovers
 */
.ws-popover {
	display: block;
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 6px 0;
	margin: 0 0 0 -6px;
	z-index: 1100;
	min-width: 90px;
	transition: visibility 400ms ease-in-out;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	
	&.no-transition	{
		display: none;
	}
	
	&.ws-po-visible {
		visibility: visible;
		display: block;
	}
}

.ws-po-outerbox {
	position: relative;
	opacity: 0;
	padding: 11px 0 4px;
	-webkit-transform: translate(0, -100%);
	transform: translate(0, -100%);
	transition: all 400ms ease-in-out;
	
	[data-vertical="bottom"] & {
	  -webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
		padding: 4px 0 11px;
	}
	
	[data-vertical="middle"] & {
	  -webkit-transform: translate(0, 0) scale(0.3);
		transform: translate(0, 0) scale(0.3);
		padding: 4px 0;
	}

	.ws-popover.ws-po-visible &,
	div.ws-popover[data-vertical][data-horizontal].ws-po-visible & {
		opacity: 1;
		-webkit-transform: translate(0, 0) scale(1);
		transform: translate(0, 0) scale(1);
	}
}

.ws-po-box {
	border: 1px solid #ccc;
	background: #fefefe;
	padding: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	
	
	button {
		display: inline-block;
		overflow: visible;
		position: relative;
		margin: 0;
		border: 0;
		padding: 0;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-appearance: none;
		appearance: none;
		box-sizing: content-box;
		font-family: arial, sans-serif;
		background: transparent;
		cursor: pointer;

		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}

		&[disabled] {
			cursor: default;
			color: #888;
		}
	}
}

.ws-po-arrow {
	position: absolute;
	top: 4px;
	left: 20px;
	display: block;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 7px solid #ccc;
	border-top: none;
	zoom: 1;
	font-size: 0;
	
	[data-horizontal="center"] & {
		left: 50%;
		margin-left: -5px;
	}
	
	[data-horizontal="right"] & {
		left: auto;
		right: 20px;
	}
	
	[data-vertical="bottom"] & {
		top: auto;
		bottom: 4px;
		border-bottom: none;
		border-top: 7px solid #ccc;
	}

	html & {
		border-left-color: transparent;
		border-right-color: transparent;

		.ws-po-arrowbox {
			border-left-color: transparent;
			border-right-color: transparent;
		}
	}

	[data-vertical="middle"] &,
	* html & {
		display: none;
	}

	.ws-po-arrowbox {
		position: relative;
		top: 1px;
		left: -9px;
		display: block;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 7px solid #fefefe;
		border-top: none;
		z-index: 999999999;
		
		[data-vertical="bottom"] & {
			top: -9px;
			border-bottom: none;
			border-top: 7px solid #fefefe;
		}
	}
}


//data list
datalist {
	display: none;
}

.datalist-polyfill {
	position: absolute !important;
	font-family: "Lucida Grande", "MS Shell Dlg", "Calibri", sans-serif;
	font-size: 13px;

	.datalist-box {
		position: relative;
		max-height: 200px;
		overflow: hidden;
		overflow-x: hidden !important;
		overflow-y: auto;

  	ul, li {
  		font-size: 100%;
  		list-style: none !important;
  	}
  
  	ul {
  		position: static !important;
  		overflow: hidden;
  		margin: 0;
  		padding: 2px 0;
  		height: auto !important;
  		background-color: #fff;
  		color: #000;
  	}
  
  	li {
  		margin: 1px 1px 1px 0;
  		padding: 2px 2px 2px 5px;
  		overflow: hidden;
  		white-space: nowrap;
  		cursor: default;
  		zoom: 1;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		background-color: #fff;
  		transition: background-color 400ms;
  	}
  
  	mark {
  		font-weight: normal;
  		font-style: normal;
  	}
  
  	.option-value {
  		display: inline-block;
  		text-overflow: ellipsis;
  		max-width: 100%;
  		color: #000;
  		float: left;
  		transition: color 400ms;
  	}
  	
  	.option-label {
  		display: none;
  		max-width: 100%;
  		float: right;
  		font-size: 90%;
  		color: #666;
  		text-overflow: ellipsis;
  		vertical-align: bottom;
  		margin-top: 0.15em;
  		margin-left: 10px;
  		text-align: right;
  		transition: color 400ms;
  	}
  	
  	.has-option-label  {
  		.option-label {
  			display: inline-block;
  		}
  	}
  
  
  	.hidden-item {
  		display: none !important;
  	}
  
  	.active-item {
  		background-color: #39f;
  		.option-value {
  			color: #fff;
  		}
  		.option-label {
  			color: #eee;
  		}
  		cursor: default;
  	}
	
  }
}


.validity-alert {
	display: inline-block;
	font: 12px/140% sans-serif;
	z-index: 1000000000;
}

.ws-errorbox {
	display: none;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	clear: both;
	
	p {
		margin: 2px 0 3px;
		padding: 0;
		color: #933;
		font: 90%/120% sans-serif;
	}
}

progress {
	position: relative;
	display: inline-block;
	width: 160px;
	height: 16px;

	&[data-position] {
		vertical-align: -0.2em;
		border: 1px solid #ccc;
		background: #e6e6e6;
	}

	> * {
		display: none !important;
	}

	span.progress-value {
		position: absolute;
		display: block !important;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		background: #a66300;
	}

	&[aria-valuenow] span.progress-value {
		background: #0063a6;
	}
}


/* localStorage */
#swflocalstorageshim-wrapper {
	position: absolute;
	top: -999px;
	left: -9999px;
	overflow: hidden;
	width: 215px;
	min-width: 215px !important;
	z-index: 2147483647;

	.polyfill-exceeded-message {
		margin: 0 0 5px;
		padding: 5px;
		background: #ffd;
		color: #000;
		font-size: 13px;
	}

	object {
		min-height: 138px !important;
		min-width: 215px !important;
	}
}

details {
	overflow: hidden;
}
summary {
	position: relative;
}
.closed-details-child {
	display: none !important;
}

.details-open-indicator {
	margin: -1px 0 0;
	display: inline-block;
	width: 16px;
	height: 11px;
	background: url(details-arrows.png) no-repeat 0 0;
	vertical-align: middle;

	.closed-details-summary & {
		background-position: 0 -20px;
	}
}

summary.summary-has-focus {
	outline: 1px dotted #aaa;
	outline-offset: -1px;
}
