.input-picker .ws-picker-body, .input-picker .ws-button-row, .input-picker .picker-grid, .input-picker .picker-list, .input-picker .ws-options button {
  zoom: 1; }
  .input-picker .ws-picker-body:before, .input-picker .ws-button-row:before, .input-picker .picker-grid:before, .input-picker .picker-list:before, .input-picker .ws-options button:before, .input-picker .ws-picker-body:after, .input-picker .ws-button-row:after, .input-picker .picker-grid:after, .input-picker .picker-list:after, .input-picker .ws-options button:after {
    display: table;
    clear: both;
    content: ' '; }

/* spinner control for time, number (usable for date, datetime-local) */
.has-input-buttons,
html > body input.ws-inputreplace.has-input-buttons,
span.has-input-buttons {
  display: inline-block; }

.input-buttons,
.step-controls,
.ws-popover-opener {
  zoom: 1;
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  margin-top: -3px;
  margin-left: -20px; }

.step-controls,
.ws-popover-opener {
  position: relative;
  float: left;
  margin: 0;
  height: 19px;
  width: 15px; }

.ws-popover-opener {
  position: relative;
  zoom: 1;
  overflow: visible;
  margin: 0 0 0 2px;
  width: 19px;
  border-radius: 3px;
  cursor: pointer;
  background: #ccc; }
  .ws-popover-opener span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: url(forms.png) no-repeat -321px -1px; }
    .color-input-buttons .ws-popover-opener span {
      background-position: -348px 0; }
    .time-input-buttons .ws-popover-opener span {
      background-position: -377px 1px; }
    .ws-popover-opener span.ws-color-indicator-bg {
      background: url(../jpicker/images/preview-opacity.png) no-repeat 0; }
    .ws-popover-opener span.ws-color-indicator {
      background: none; }

input[type="color"] {
  width: 6.5em; }

.input-buttons {
  text-align: left; }
  .input-buttons.color-input-buttons {
    margin-left: 2px; }
  .input-buttons.input-button-size-1.month-input-buttons, .input-buttons.input-button-size-1.date-input-buttons {
    margin-left: -24px; }
  .input-buttons.input-button-size-2 {
    margin-left: -39px; }
  .input-buttons.ws-disabled {
    opacity: 0.95; }
  .input-buttons.ws-disabled *, .input-buttons.ws-readonly * {
    cursor: default; }

.step-controls span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  width: 15px;
  height: 9px;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  background: url(forms.png) no-repeat 0 0; }
  .step-controls span.step-up {
    top: 0;
    background-position: -80px 0; }
    .step-controls span.step-up:hover {
      background-position: -105px 0; }
    .step-controls span.step-up.mousepress-ui {
      background-position: -105px -20px; }
    .ws-disabled .step-controls span.step-up {
      background-position: -130px 0; }
  .step-controls span.step-down {
    bottom: 0;
    background-position: -155px 0; }
    .step-controls span.step-down:hover {
      background-position: -180px 0; }
    .step-controls span.step-down.mousepress-ui {
      background-position: -180px -20px; }
    .ws-disabled .step-controls span.step-down {
      background-position: -205px 0; }

.ws-input {
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }
  .ws-input > * {
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal; }
  .ws-input .ws-input-seperator {
    vertical-align: middle;
    width: 2%;
    overflow: hidden; }
  .ws-input + .input-buttons {
    margin-left: 2px; }
  .ws-input input,
  .ws-input .ws-input-seperator {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: inline-block; }

.ws-date .mm,
.ws-date .dd {
  width: 23.5%; }
  .no-boxsizing .ws-date .mm, .no-boxsizing
  .ws-date .dd {
    width: 16%; }
.ws-date .yy {
  width: 48%; }
  .no-boxsizing .ws-date .yy {
    width: 40%; }
.ws-date.ws-month-select .dd {
  width: 22%; }
  .no-boxsizing .ws-date.ws-month-select .dd {
    width: 13%; }
.ws-date.ws-month-select .mm {
  width: 38%; }
.ws-date.ws-month-select .yy {
  width: 36%; }
  .no-boxsizing .ws-date.ws-month-select .yy {
    width: 30%; }

.ws-month .mm,
.ws-month .yy {
  width: 47.9%; }
  .no-boxsizing .ws-month .mm, .no-boxsizing
  .ws-month .yy {
    width: 41%; }

/* range */
.ws-range {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  zoom: 1;
  border: none;
  height: 19px;
  width: 155px;
  border-radius: 1px;
  background: url(range-track.png) 0 center no-repeat;
  cursor: pointer;
  font-size: 0;
  line-height: 0; }
  .ws-range .ws-range-thumb {
    top: 0;
    position: absolute;
    display: block;
    z-index: 4;
    overflow: hidden;
    margin: -2px 0 0 -6px;
    height: 22px;
    width: 11px;
    background: url(forms.png) -3px 1px no-repeat;
    cursor: pointer;
    outline: none;
    font-size: 0;
    line-height: 0; }
    .ws-range .ws-range-thumb:hover {
      background-position: -20px 1px; }
  .ws-range.ws-focus .ws-range-thumb {
    background-position: -20px 1px; }
  .ws-range.ws-active .ws-range-thumb {
    background-position: -37px 1px; }
  .ws-range[aria-disabled="true"], .ws-range[aria-readonly="true"] {
    cursor: default;
    opacity: 0.95; }
  .ws-range[aria-disabled="true"] .ws-range-thumb, .ws-range[aria-readonly="true"] .ws-range-thumb {
    cursor: default; }
  .ws-range[aria-disabled="true"] .ws-range-thumb {
    background-position: -54px 1px; }
  .ws-range .ws-range-rail {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    zoom: 1; }
  .ws-range .ws-range-min {
    position: absolute !important;
    display: block;
    margin: 9px 0 0;
    padding: 0 !important;
    top: 0;
    height: 1px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background: #b6e2fb; }
  .ws-range .ws-range-ticks {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 4px;
    width: 1px;
    margin: 0 0 0 -1.5px;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    background: #ccc; }
  .ws-range.vertical-range {
    background: url(vertical-range.png) center bottom no-repeat;
    width: 20px; }
    .ws-range.vertical-range .ws-range-thumb {
      top: 0;
      left: 3px;
      bottom: auto;
      background: url(vertical-range.png) 0 -51px no-repeat;
      margin: -6px 0 0 0;
      height: 11px;
      width: 22px; }
    .ws-range.vertical-range .ws-range-thumb:hover, .ws-range.vertical-range.ws-focus .ws-range-thumb {
      background-position: 0 -34px; }
    .ws-range.vertical-range.ws-active .ws-range-thumb {
      background-position: 0 -17px; }
    .ws-range.vertical-range[aria-disabled="true"] .ws-range-thumb {
      background-position: 0 0; }
    .ws-range.vertical-range .ws-range-min {
      top: auto;
      bottom: 1px;
      left: 0;
      width: 1px;
      height: 0; }
    .ws-range.vertical-range .ws-range-rail {
      top: 5px;
      left: 0;
      right: 0;
      bottom: 5px; }
    .ws-range.vertical-range .ws-range-ticks {
      bottom: auto;
      left: auto;
      right: 0;
      height: 1px;
      width: 4px; }

.input-picker .ws-prev,
.input-picker .ws-next,
.input-picker .ws-super-prev,
.input-picker .ws-super-next, .input-picker .ws-button-row button {
  border-radius: 4px;
  background: #ccc;
  padding: 5px 8px;
  display: inline-block;
  border: 1px solid transparent; }

.input-picker {
  outline: none;
  text-align: center;
  font-family: sans-serif;
  width: 330px; }
  .input-picker.time-popover, .input-picker.datetime-local-popover {
    width: 415px; }
  .input-picker.time-popover .ws-prev,
  .input-picker.time-popover .ws-next,
  .input-picker.time-popover .ws-super-prev,
  .input-picker.time-popover .ws-super-next {
    display: none; }
  .input-picker.ws-size-2 {
    width: 645px; }
  .input-picker.ws-size-3 {
    width: 960px; }
  .input-picker.color-popover {
    width: 590px; }
  .input-picker abbr[title] {
    cursor: help; }
  .input-picker li,
  .input-picker button {
    font-size: 13px;
    line-height: 16px;
    color: #000;
    transition: all 400ms; }
  .input-picker .ws-focus,
  .input-picker :focus {
    outline: 1px dotted #000; }
  .input-picker .ws-po-box {
    position: relative;
    padding: 10px 20px 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
  .input-picker .ws-prev,
  .input-picker .ws-next,
  .input-picker .ws-super-prev,
  .input-picker .ws-super-next {
    position: absolute;
    top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
    width: 24px;
    height: 24px;
    background: #eeeeee url(forms.png) no-repeat 0 0;
    z-index: 1; }
    .input-picker .ws-prev span,
    .input-picker .ws-next span,
    .input-picker .ws-super-prev span,
    .input-picker .ws-super-next span {
      display: none; }
  .input-picker.time-popover .ws-picker-body {
    padding-top: 36px; }
  .input-picker .ws-picker-body {
    position: relative;
    padding: 40px 0 0;
    zoom: 1;
    margin: 0 -10px; }
  .input-picker .ws-prev,
  .input-picker .ws-super-prev {
    left: 20px;
    background-position: -243px 5px; }
  .input-picker .ws-super-prev {
    background-position: -243px -12px; }
  .input-picker.ws-year-buttons .ws-prev {
    left: 50px; }
  .input-picker .ws-next,
  .input-picker .ws-super-next {
    right: 20px;
    background-position: -275px 5px; }
  .input-picker .ws-super-next {
    background-position: -275px -12px; }
  .input-picker.ws-year-buttons .ws-next {
    right: 50px; }
  .input-picker .ws-prev:hover,
  .input-picker .ws-next:hover,
  .input-picker .ws-super-prev:hover,
  .input-picker .ws-super-next:hover {
    border-color: #666; }
  .input-picker .ws-prev[disabled],
  .input-picker .ws-next[disabled],
  .input-picker .ws-super-prev[disabled],
  .input-picker .ws-super-next[disabled] {
    opacity: 0.4;
    border-color: #eee; }
  .input-picker .ws-button-row {
    position: relative;
    margin: 10px 0 0;
    border-top: 1px solid #eee;
    padding: 10px 0 0;
    text-align: left;
    z-index: 2; }
    .input-picker .ws-button-row button {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 1px 1px 0 #fff;
      background-color: #ddd;
      background-image: -webkit-linear-gradient(top, #ececec 0%, #dddddd 100%);
      background-image: linear-gradient(to bottom, #ececec 0%, #dddddd 100%);
      transition: border-color 200ms linear;
      float: left; }
      .input-picker .ws-button-row button.ws-empty {
        float: right; }
  .input-picker[data-currentview="setMonthList"] .ws-picker-header select {
    max-width: 95%; }
  .input-picker[data-currentview="setDayList"] .ws-picker-header select {
    max-width: 40%; }
  .input-picker[data-currentview="setDayList"] .ws-picker-header select.month-select {
    max-width: 55%; }
  .input-picker.time-popover .ws-picker-header {
    top: -30px; }
    .input-picker.time-popover .ws-picker-header button {
      font-size: 15px; }
  .input-picker.ws-year-buttons .ws-picker-header {
    margin: 0 65px; }
  .input-picker .ws-picker-header {
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    margin: 0 40px; }
    .input-picker .ws-picker-header button {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 4px 0;
      font-weight: 700;
      color: #000; }
      .input-picker .ws-picker-header button:hover {
        text-decoration: underline; }
      .input-picker .ws-picker-header button[disabled]:hover {
        text-decoration: none; }
  .input-picker .picker-grid {
    position: relative;
    zoom: 1;
    overflow: hidden; }
  .input-picker.ws-size-1 .picker-list {
    float: none;
    width: auto; }
  .input-picker .picker-list {
    position: relative;
    zoom: 1;
    width: 290px;
    float: left;
    margin: 0 10px;
    background: #fff; }
    .input-picker .picker-list tr {
      border: 0; }
    .input-picker .picker-list th,
    .input-picker .picker-list td {
      padding: 3px 5px; }
    .input-picker .picker-list.day-list td {
      padding: 2px 1px; }
    .input-picker .picker-list.day-list td button {
      padding: 4px 0; }
    .input-picker .picker-list td button {
      display: block;
      padding: 9px 0;
      width: 100%;
      border-radius: 5px;
      color: #000;
      background-color: #fff; }
      .input-picker .picker-list td button.othermonth {
        color: #888; }
      .input-picker .picker-list td button:hover, .input-picker .picker-list td button.checked-value {
        color: #fff;
        background: #000; }
      .input-picker .picker-list td button[disabled], .input-picker .picker-list td button[disabled]:hover {
        color: #888;
        background-color: #fff; }
    .input-picker .picker-list table {
      width: 100%;
      margin: 0;
      border: 0 none;
      border-collapse: collapse; }
    .input-picker .picker-list th,
    .input-picker .picker-list td.week-cell {
      font-size: 13px;
      line-height: 1.1em;
      padding-bottom: 3px;
      text-transform: uppercase;
      font-weight: 700; }
    .input-picker .picker-list th, .input-picker .picker-list td {
      width: 14.2856%; }
  .input-picker .ws-options {
    margin: 10px 0 0;
    border-top: 1px solid #eee;
    padding: 10px 0 0;
    text-align: left; }
    .input-picker .ws-options h5 {
      margin: 0 0 5px;
      padding: 0;
      font-size: 14px;
      font-weight: bold; }
    .input-picker .ws-options ul,
    .input-picker .ws-options li {
      padding: 0;
      margin: 0;
      list-style: none; }
    .input-picker .ws-options button {
      display: block;
      padding: 4px;
      width: 100%;
      text-align: left;
      border-radius: 4px; }
      .input-picker .ws-options button.ws-focus, .input-picker .ws-options button:focus, .input-picker .ws-options button:hover {
        color: #fff;
        background: #000; }
      .input-picker .ws-options button[disabled], .input-picker .ws-options button[disabled].ws-focus, .input-picker .ws-options button[disabled]:focus, .input-picker .ws-options button[disabled]:hover {
        color: #888;
        background: #fff;
        text-decoration: none; }
      .input-picker .ws-options button .ws-value {
        float: left; }
      .input-picker .ws-options button .ws-label {
        float: right;
        font-size: 96%; }
