.polyfill-remove-fouc.loading-polyfills body {
	visibility: hidden;
}
.polyfill-remove-fouc.long-loading-polyfills {
	background-image: url(polyfill-loader.gif);
	background-position: center 240px;
	background-repeat: no-repeat;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}

/* reset */
.input-range .ui-slider-range,
.placeholder-box,
.placeholder-box,
.placeholder-text,
.input-datetime-local,
.step-controls,
.step-controls span,
.input-range,
.input-range .ui-slider-handle,
.input-range .ui-slider-range {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	background: transparent none;
}



/* placeholder */
.placeholder-box {
	position: relative;
	display: inline-block;
	zoom: 1;
}
.polyfill-important .placeholder-box {
	position: relative !important;
	display: inline-block !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	height: auto !important;
}
.placeholder-box-input {
	vertical-align: bottom;
}

.placeholder-box-left {
	float: left;
}
.placeholder-box-right {
	float: right;
}

.placeholder-text {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #999;
	line-height: 1;
	cursor: text;
}
.polyfill-important .placeholder-text { 
	margin: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	display: none !important;
}
.placeholder-box-input .placeholder-text {
	white-space: nowrap;
}
.placeholder-visible {
	color: #999;
}
.placeholder-visible .placeholder-text {
	display: inline-block;
}
.polyfill-important .placeholder-visible .placeholder-text {
	display: inline-block !important;
}

/* datetime-local */
.input-datetime-local {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}
.polyfill-important .input-datetime-local {
	display: inline-block !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}
.polyfill-important .input-datetime-local input {
	display: inline !important;
}
.input-datetime-local-date {
	margin: 0 2px 0 0;
}
.polyfill-important .input-datetime-local-date {
	margin: 0 2px 0 0 !important;
}
.input-datetime-local-time {
	margin: 0 0 0 2px;
}
.polyfill-important .input-datetime-local-time {
	margin: 0 0 0 2px !important;
}
img.ui-datepicker-trigger {
	display: inline;
	width: 16px;
}
/* spinner control for time, number (usable for date, datetime-local) */
.has-step-controls {
	display: inline;
}
.polyfill-important .has-step-controls {
	display: inline !important;
}
.step-controls {
	position: relative;
	zoom: 1;
	overflow: hidden;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	vertical-align: top;
	margin-left: -17px;
	height: 19px;
	width: 15px;
}
.polyfill-important .step-controls {
	display: inline-block !important;
	padding: 0 !important;
	vertical-align: top !important;
}
.step-controls span {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	width: 15px;
	height: 9px;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
	background: url(arrows.png) no-repeat 0 0;
}
.polyfill-important .step-controls span {
	display: inline-block !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 15px;
	height: 9px;
	font-size: 0 !important;
	background: url(arrows.png) no-repeat 0 0;
}

.step-controls span.step-up {
	top: 0;
	background-position: 0 0;
}
.step-controls span.step-up:hover {
	background-position: 0 -30px;
}
.step-controls span.step-down {
	bottom: 0;
	background-position: 0 -90px;
}
.step-controls span.step-down:hover {
	background-position: 0 -120px;
}
/* disabled or readonly */
.step-controls.disabled-step-control span {
	opacity: 0.95;
	cursor: default;
}
.step-controls.disabled-step-control span.step-up {
	background-position: 0 -60px;
}
.step-controls.disabled-step-control span.step-down {
	background-position: 0 -150px;
}

/* range */
.input-range {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border: 1px solid #000;
	height: 6px;
	width: 155px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #fff;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
}
.polyfill-important .input-range {
	display: inline-block !important;
	padding: 0 !important;
	font-size: 0 !important;
}
.input-range .ui-slider-handle {
	position: absolute;
	display: block;
	z-index: 10;
	overflow: hidden;
	margin: -3px 0 0 -6px;
	height: 12px;
	width: 12px;
	background-color: #666;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	font-size: 0;
	line-height: 0;
}

.input-range .ui-slider-range {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	display: block;
	background: #999;
}
.input-range .input-range .ui-slider-range,
.polyfill-important .input-range .ui-slider-handle {
	position: absolute !important;
	display: block !important;
	padding: 0 !important;
}
.input-range.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.input-range.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.input-range.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.input-datetime-local-date.hasDatepicker,
.input-date.hasDatepicker {
	position: relative;
	z-index: 100;
}
.input-date-datepicker-control {
	position: absolute;
	zoom: 1;
	display: none;
	background-color: #fff;
	z-index: 100;
	overflow: visible;
	padding: 5px;
	font-family: "Lucida Grande", "MS Shell Dlg", "Calibri", sans-serif;
	font-size: 100%;
	border: 1px solid #333;
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.input-date-datepicker-control .ui-datepicker-header {
	position: relative;
	margin: 0 0 3px;
	padding: 2px 0;
}
.input-date-datepicker-control .ui-datepicker-header select {
    border: 1px solid #333;
    padding: 1px 2px 2px;
}
.input-date-datepicker-control .ui-datepicker-header option {
	padding-right: 8px;
}
.input-date-datepicker-control .ui-datepicker-header .ui-icon {
	position: absolute;
	display: block;
	top: 0.2em;
	width: 15px;
	height: 18px;
	text-indent: -9999em;
	font-size: 10px;
	line-height: 0;
	background: url(date-arrows.png) no-repeat;
	cursor: pointer;
}
.input-date-datepicker-control .ui-datepicker-header .ui-state-disabled .ui-icon {
	cursor: default;
}
.input-date-datepicker-control .ui-datepicker-header .ui-icon-circle-triangle-w {
	left: 3px;
	background-position: 2px 3px;
}
.input-date-datepicker-control .ui-datepicker-header .ui-icon-circle-triangle-e {
	right: 3px;
	background-position: -12px 3px;
}
.input-date-datepicker-control table {
	font-size: 100%;
}
.input-date-datepicker-control .ui-datepicker-title {
	margin: 0 20px;
}
.input-date-datepicker-control .ui-datepicker-title,
.input-date-datepicker-control th {
	color: #069;
	text-align: center;
	font-weight: bold;
}
.input-date-datepicker-control td,
.input-date-datepicker-control th {
	padding: 0 2px;
	text-align: center;
}
.input-date-datepicker-control td {
	cursor: pointer;
	color: #333;
	border: 1px solid #999;
}


.input-date-datepicker-control td.ui-datepicker-current-day {
	border-color: #000;
	background-color: #adf;
	color: #000;
}

.input-date-datepicker-control td.ui-datepicker-current-day a {
	background-color: #adf;
	color: #000;
}
.input-date-datepicker-control td a {
	color: #333;
	text-decoration: none;
}
.input-date-datepicker-control td:hover,
.input-date-datepicker-control td:hover a {
	background-color: #bef;
}
.input-date-datepicker-control td.ui-state-disabled {
	cursor: default;
	border-color: #ddd;
	color: #bbb;
	background-color: transparent;
}

.input-date-datepicker-control .ui-datepicker-buttonpane {
	margin: 4px 0 0;
}

datalist {
	display: none;
}
.datalist-polyfill {
	position: absolute !important;
	font-family: "Lucida Grande", "MS Shell Dlg", "Calibri", sans-serif;
	font-size: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 !important;
	border: 1px solid #333;
	display: none;
	z-index: 1000;
	max-height: 200px;
	overflow: hidden;
	overflow-x: hidden !important;
	overflow-y: auto;
	
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.datalist-polyfill.datalist-visible{
	display: block;
}
.datalist-polyfill ul,
.datalist-polyfill li {
	font-size: 100%;
	list-style: none !important;
}
.datalist-polyfill ul {
	position: static !important;
	overflow: hidden;
	margin: 0;
	padding: 2px 0;
	height:  auto !important;
	background-color: #fff;
	color: #000;
	
}
.datalist-polyfill li {
	margin: 1px 1px 1px 0;
	padding: 2px 2px 2px 5px;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
}
.datalist-polyfill li.hidden-item {
	display: none !important;
}
.datalist-polyfill li.active-item {
	background-color: #39f;
	color: #fff;
	cursor: default;
}

.validity-alert {
	position: absolute;
	display: inline-block;
	padding: 11px 0 0;
	z-index: 10000;
}
.validity-alert span.va-box {
	display: inline-block;
	background: #fff;
	color: #000;
	border: 2px solid #a33;
	padding: 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	zoom: 1;
	min-width: 60px;
}

.validity-alert .va-arrow {
	position: absolute;
	top: 2px;
	left: 20px;
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	border-bottom: 10px solid #a33;
	border-top: none;
	zoom: 1;
	font-size: 0;
}
* html .validity-alert .va-arrow {display: none;}
.validity-alert .va-arrow .va-arrow-box {
	position: relative;
	top: 2px;
	left: -8px;
	display: block;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
    border-right: 8px solid transparent;
	border-bottom: 9px solid #fff;
	border-top: none;
}