.polyfill-remove-fouc.loading-polyfills body {
	visibility: hidden;
}
.polyfill-remove-fouc.long-loading-polyfills {
	background-image: url(polyfill-loader.gif);
	background-position: center 240px;
	background-repeat: no-repeat;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}

/* reset */
.input-range .ui-slider-range,
.placeholder-box,
.placeholder-box,
.placeholder-text,
.input-datetime-local,
.step-controls,
.step-controls span,
.input-range,
.input-range .ui-slider-handle,
.input-range .ui-slider-range {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	background: transparent none;
}



/* placeholder */
.placeholder-box {
	position: relative;
	display: inline-block;
	zoom: 1;
}
.polyfill-important .placeholder-box {
	position: relative !important;
	display: inline-block !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	height: auto !important;
}
.placeholder-box-input {
	vertical-align: middle;
}
.placeholder-box-textarea {
	vertical-align: text-bottom;
}
.placeholder-box-left {
	float: left;
}
.placeholder-box-right {
	float: right;
}

.placeholder-text {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #999;
	line-height: 1;
	cursor: text;
}
.polyfill-important .placeholder-text { 
	margin: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	display: none !important;
}
.placeholder-box-input .placeholder-text {
	white-space: nowrap;
}
.placeholder-box-textarea .placeholder-text {
	white-space: pre;
}
.placeholder-visible .placeholder-text {
	display: inline-block;
}
.polyfill-important .placeholder-visible .placeholder-text {
	display: inline-block !important;
}

/* datetime-local */
.input-datetime-local {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}
.polyfill-important .input-datetime-local {
	display: inline-block !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}
.polyfill-important .input-datetime-local input {
	display: inline !important;
}
.input-datetime-local-date {
	margin: 0 2px 0 0;
}
.polyfill-important .input-datetime-local-date {
	margin: 0 2px 0 0 !important;
}
.input-datetime-local-time {
	margin: 0 0 0 2px;
}
.polyfill-important .input-datetime-local-time {
	margin: 0 0 0 2px !important;
}
img.ui-datepicker-trigger {
	display: inline;
	width: 16px;
}
/* spinner control for time, number (usable for date, datetime-local) */
.has-step-controls {
	display: inline;
}
.polyfill-important .has-step-controls {
	display: inline !important;
}
.step-controls {
	position: relative;
	zoom: 1;
	overflow: hidden;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	vertical-align: text-bottom;
	margin-left: -17px;
	height: 19px;
	width: 15px;
}
.polyfill-important .step-controls {
	display: inline-block !important;
	padding: 0 !important;
	vertical-align: text-bottom !important;
}
.step-controls span {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	width: 15px;
	height: 9px;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
	background: url(arrows.png) no-repeat 0 0;
}
.polyfill-important .step-controls span {
	display: inline-block !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 15px;
	height: 9px;
	font-size: 0 !important;
	background: url(arrows.png) no-repeat 0 0;
}

.step-controls span.step-up {
	top: 0;
	background-position: 0 0;
}
.step-controls span.step-up:hover {
	background-position: 0 -30px;
}
.step-controls span.step-down {
	bottom: 0;
	background-position: 0 -90px;
}
.step-controls span.step-down:hover {
	background-position: 0 -120px;
}
/* disabled or readonly */
.step-controls.disabled-step-control span {
	opacity: 0.95;
	cursor: default;
}
.step-controls.disabled-step-control span.step-up {
	background-position: 0 -60px;
}
.step-controls.disabled-step-control span.step-down {
	background-position: 0 -150px;
}

/* range */
.input-range {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border: 1px solid #000;
	height: 6px;
	width: 155px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #fff;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
}
.polyfill-important .input-range {
	display: inline-block !important;
	padding: 0 !important;
	font-size: 0 !important;
}
.input-range .ui-slider-handle {
	position: absolute;
	display: block;
	z-index: 10;
	overflow: hidden;
	margin: -3px 0 0 -6px;
	height: 12px;
	width: 12px;
	background-color: #666;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	font-size: 0;
	line-height: 0;
}

.input-range .ui-slider-range {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	display: block;
	background: #999;
}
.input-range .input-range .ui-slider-range,
.polyfill-important .input-range .ui-slider-handle {
	position: absolute !important;
	display: block !important;
	padding: 0 !important;
}
.input-range.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.input-range.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.input-range.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.input-datetime-local-date.hasDatepicker,
.input-date.hasDatepicker {
	position: relative;
	z-index: 100;
}
.input-date-datepicker-control {
	display: none;
	background-color: #fff;
	z-index: 100;
}
datalist {
	display: none;
}
.datalist-polyfill {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 !important;
	border: 1px solid #000;
	display: none;
	z-index: 1000;
	max-height: 220px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	
	-moz-box-shadow: 1px 3px 4px #333;
	box-shadow: 1px 3px 4px #333;
}
.datalist-polyfill ul,
.datalist-polyfill li {
	list-style: none !important;
}
.datalist-polyfill ul {
	margin: 0;
	padding: 2px 0;
	background: #fff;
	color: #000;
	overflow: hidden;
}
.datalist-polyfill li {
	margin: 1px 1px 1px 4px;
	padding: 2px;
	overflow: hidden;
	white-space: nowrap;
}

.validity-alert {
	position: absolute;
	display: inline-block;
	background: #fff;
	color: #000;
	border: 1px solid #f00;
	padding: 5px;
	z-index: 10000;
}
.validity-alert span.va-box {
	display: inline-block;
}