article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
/* reset */
form span.placeholder-box,
.placeholder-box,
.placeholder-text,
form span.placeholder-text,
form label.placeholder-text {
 	margin: 0;
	padding: 0;
	border: none;
	background: transparent none;
 }

.placeholder-box {
	position: relative;
	display: inline-block;
	zoom: 1;
	overflow: hidden;
}
.placeholder-box-input {
	vertical-align: middle;
}
.placeholder-box-textarea {
	vertical-align: text-bottom;
}
.placeholder-box-left {
	float: left;
}
.placeholder-box-right {
	float: right;
}

.placeholder-text {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #999;
	line-height: 1;
	cursor: text;
}
.placeholder-box-input .placeholder-text {
	white-space: nowrap;
}
.placeholder-box-textarea .placeholder-text {
	white-space: pre;
}
.placeholder-visible .placeholder-text {
	display: inline-block;
}
.validity-alert {
	position: absolute;
	display: inline-block;
	background: #fff;
	color: #000;
	border: 1px solid #f00;
	padding: 5px;
	z-index: 10000;
}
.validity-alert span.va-box {
	display: inline-block;
}
.step-controls {
	position: relative;
	zoom: 1;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	height: 1.1em;
	width: 0.6em;
}
.step-controls span {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	width: 0.4em;
	height: 0.4em;
	border: 0.08em solid #666;
	cursor: pointer;
	font-size: 1em;
	line-height: 0;
}
.step-controls span.step-up {
	top: 0;
}
.step-controls span.step-down {
	bottom: 0;
}
/* disabled or readonly */
.step-controls.disabled-step-control span {
	border-color: #aaa;
	opacity: 0.8;
	cursor: default;
}
.input-range {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border: 1px solid #000;
	height: 0.3em;
	width: 155px;
	border-radius: 0.1em;
	-moz-border-radius: 0.1em;
}
.input-range .ui-slider-handle {
	position: absolute;
	margin: -0.2em 0 0 -0.35em;;
	height: 0.7em;
	width: 0.7em;
	background-color: #666;
	cursor: pointer;
	border-radius: 0.35em;
	-moz-border-radius: 0.35em;
}
.input-date-datepicker-control {
	display: none;
	background-color: #fff;
}
