* {}
* {
    margin: 0;
    padding: 0;
}
section, article, footer, nav, header, footer, hgroup, aside {display: block;}
li {
	list-style: none;
}

fieldset {
    border: 0 solid #fff;
}
del {
    font-weight: normal;
}
address {
    font-size: 120%;
    font-style: normal;
}
img {
	display: block;
	border: 0;
}
form textarea {
	height: 140px;
	font-family: arial, helvetica, sans-serif;
	font-size: 120%;
}
h1, h2, h3, h4, h5, h6, table, input, textarea, label {
	font-size: 100%;
}

.loading-polyfills {
	background: #d9cfa0 url(loading-shims.gif) center 300px no-repeat;
}
.loading-polyfills body {
	visibility: hidden;
}

body {
    font: 100.1% arial, helvetica, sans-serif;
	background: #d9cfa0;
}
#wrapper {
	margin: 10px auto;
	padding: 0 20px 20px;
	width: 90%;
	min-width: 400px;
	max-width: 65em;
	
}
section, article, aside {margin: 20px 0; overflow: hidden; zoom: 1;}
div.article-wrapper {
	margin: 0;
}
.home article {
	margin: 30px 4%;
	width: 40%;
	overflow: visible;
	display: inline-block;
	vertical-align: top;
}
#wrapper > section,
#wrapper > small,
header {
	display: block;
	margin: 25px 0;
	padding: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background:	#f1efd6;
}
nav {
	float: left;
	margin: 0 10px 0 0;
	padding: 20px;
	width: 25%;
	min-width: 8em;
	max-width: 300px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background:	#f1efd6;
}

a {
	color: #3a5953;
}
h1 {
	font-size: 180%;
	margin: 30px 0 20px;
}
h2 {
	font-size: 150%;
	margin: 25px 0 15px;
}
h3 {
	font-size: 125%;
	margin: 25px 0 10px;
}
h4 {
	font-size: 110%;
	margin: 12px 0 5px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
	margin-top: 1px;
}
ul,
ol {
	margin: 15px 0 15px 20px;
}
ul > li {
	list-style: disc;
}
ul > li {
	margin: 2px 0;
	
}
p {
	margin: 15px 0;
}
header h1 {
	margin-bottom: 5px;
}
header h2 {
	margin: 0 0 5px;
	font-size: 120%;
}
.home-box {
	display: inline-block;
	vertical-align: top;
	width: 44.9%;
	margin: 2.4%;
}

code.block {
	display: block;
	overflow: auto;
	margin: -2px 0px 5px;
	padding: 5px 10px 10px;
	white-space: pre;
	background: #fffde2;
}
.feature-example {
	padding: 2%;
	width: 38.9%;
	background: #fffde2;
}

.feature-example form {
	margin: 5px 20px 10px 0;
}
.feature-example p {
	overflow: hidden;
}
#placeholder-text {
	vertical-align: text-top;
	border: none;
	border-bottom: 1px solid #000;
}
.teaser-example {
	float: left;
	max-width: 400px;
	margin: 0 15px 2px 0;
}
.form-element label,
.te-webforms label {
	display: block;
	margin: 3px 0;
	width: auto;
}
.te-webforms .form-element {
	margin: 8px 0;
}
.te-webforms .form-element:first-child {
	margin-top: 0;
}
@media screen and (max-width: 880px) {
	.home-box,
	.feature-example,
	.home article {
		width: 100%; 
		-moz-box-sizing: padding-box;
		-webkit-box-sizing: padding-box;
		-o-box-sizing: padding-box;
		box-sizing: padding-box;
	}
}
