article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}
/* reset */
.input-range .ui-slider-range,
form span.placeholder-box,
.placeholder-box,
.placeholder-text,
.input-datetime-local,
form span.input-datetime-local,
form span.placeholder-text,
form label.placeholder-text {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	background: transparent none;
}

.placeholder-box {
	position: relative;
	display: inline-block;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	zoom: 1;
	overflow: hidden !important;;
}

.placeholder-box-input {
	vertical-align: middle;
}
.placeholder-box-textarea {
	vertical-align: text-bottom;
}
.placeholder-box-left {
	float: left;
}
.placeholder-box-right {
	float: right;
}

.placeholder-text {
	position: absolute;
	margin: 0 !important;
	padding-right: !important;
	padding-bottom: !important;
	display: none !important;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #999;
	line-height: 1;
	cursor: text;
}
.placeholder-box-input .placeholder-text {
	white-space: nowrap !important;
}
.placeholder-box-textarea .placeholder-text {
	white-space: pre !important;
}
.placeholder-visible .placeholder-text {
	display: inline-block !important;
}
span.input-datetime-local {
	display: inline-block !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	vertical-align: middle;
}
span.input-datetime-local input {
	display: inline !important;
}
.validity-alert {
	position: absolute;
	display: inline-block;
	background: #fff;
	color: #000;
	border: 1px solid #f00;
	padding: 5px;
	z-index: 10000;
}
.validity-alert span.va-box {
	display: inline-block;
}
input.has-step-controls {
	display: inline !important;
}
.step-controls {
	position: relative;
	zoom: 1;
	overflow: hidden;
	display: inline-block !important;
	padding: 0 !important;
	vertical-align: middle;
	vertical-align: text-bottom !important;
	margin-left: -17px;
	height: 19px;
	width: 15px;
}
.step-controls span {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	width: 15px;
	height: 9px;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
	background: url(arrows.png) no-repeat 0 0;
}
.step-controls span:hover {
	border-color: #000;
}
.step-controls span.step-up {
	top: 0;
	background-position: 0 0;
}
.step-controls span.step-up:hover {
	background-position: 0 -30px;
}
.step-controls span.step-down {
	bottom: 0;
	background-position: 0 -90px;
}
.step-controls span.step-down:hover {
	background-position: 0 -120px;
}
/* disabled or readonly */
.step-controls.disabled-step-control span {
	opacity: 0.95;
	cursor: default;
}
.step-controls.disabled-step-control span.step-up {
	background-position: 0 -60px;
}
.step-controls.disabled-step-control span.step-down {
	background-position: 0 -150px;
}
.input-range {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border: 1px solid #000;
	height: 0.3em;
	width: 155px;
	border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	background-color: #fff;
	cursor: pointer;
	font-size: 1em;
}
.input-range .ui-slider-range {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	display: block;
	background: #999;
}
.input-range.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.input-range.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.input-range.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.input-range .ui-slider-handle {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	margin: -0.2em 0 0 -0.35em;;
	height: 0.7em;
	width: 0.7em;
	background-color: #666;
	cursor: pointer;
	border-radius: 0.35em;
	-moz-border-radius: 0.35em;
	font-size: 1em;
	line-height: 0;
}
.input-datetime-local-date.hasDatepicker,
.input-date.hasDatepicker {
	position: relative;
	z-index: 100;
}
.input-date-datepicker-control {
	display: none;
	background-color: #fff;
	z-index: 100;
}
