@import "_extends.scss";
@import "_api-forms-ext.scss";

/* spinner control for time, number (usable for date, datetime-local) */
.has-input-buttons,
html > body input.ws-inputreplace.has-input-buttons,
span.has-input-buttons {
	display: inline-block;
	vertical-align: middle;
}

.ws-inputreplace[readonly][aria-readonly="false"] {
	cursor: pointer;
	&[disabled] {
		cursor: default;
		cursor: not-allowed;
	}
}

.input-buttons,
.step-controls,
.ws-popover-opener {
	zoom: 1;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-left: -20px;
}

.step-controls,
.ws-popover-opener {
	position: relative;
	float: left;
	margin: 0;
	height: 19px;
	width: 15px;
	
	.ws-is-rtl & {
		float: right;
	}
}

.ws-popover-opener {
	position: relative;
	zoom: 1;
	overflow: visible;
	margin: 0 0 0 2px;
	width: 19px;
	border-radius: 3px;
	cursor: pointer;
	background: #ccc;
	
	
	.ws-is-rtl & {
		margin: 0 2px 0 0;
	}
	
	span {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16px;
		height: 16px;
		margin: -8px 0 0 -8px;
		background: url(forms.png) no-repeat -321px -1px;
		
		
		.color-input-buttons & {
			background-position: -348px 0;
		}
		
		.time-input-buttons & {
			background-position: -377px 1px;
		}
		
		&.ws-color-indicator-bg {
			background: url(../jpicker/images/preview-opacity.png) no-repeat 0;
		}
		&.ws-color-indicator {
			background: none;
		}
	}
}

input[type="color"] {
	width: 7.5em;
}

.input-buttons {
	text-align: left;
	
	&.color-input-buttons {
		margin-left: 2px;
	}
	
	&.ws-disabled {
		opacity: 0.95;
	}
	&.ws-disabled *,
	&.ws-readonly * {
		cursor: default;
	}
}

.input-button-size-1 {
	&.month-input-buttons,
	&.date-input-buttons,
	&.datetime-local-input-buttons {
		margin-left: -24px;
		
		
		&.ws-is-rtl {
			margin-left: 0;
			margin-right: -24px;
		}
	}
}
.input-button-size-2 {
	margin-left: -39px;
	
	&.ws-is-rtl {
		margin-left: 0;
		margin-right: -39px;
	}
}

.step-controls {

	span {
		position: absolute;
		left: 0;
		display: inline-block;
		overflow: hidden;
		margin: 0 !important;
		padding: 0 !important;
		width: 15px;
		height: 9px;
		cursor: pointer;
		font-size: 0;
		line-height: 0;
		background: url(forms.png) no-repeat 0 0;

		&.step-up {
			top: 0;
			background-position: -80px 0;
			&:hover {
				background-position: -105px 0;
			}
			&.mousepress-ui {
				background-position: -105px -20px;
			}
			.ws-disabled & {
				background-position: -130px 0;
			}
		}
		&.step-down {
			bottom: 0;
			background-position: -155px 0;
			&:hover {
				background-position: -180px 0;
			}
			&.mousepress-ui {
				background-position: -180px -20px;
			}
			.ws-disabled & {
				background-position: -205px 0;
			}
		}

	}
}

/* helper classes to hide show/hide specific btn features features */
@each $class in $btnapis {
	.#{$class} {
		@extend %#{$class};
	}
}

.ws-input {
	letter-spacing: -0.31em;
	word-spacing: -0.43em;



	> * {
		text-align: center;
		letter-spacing: normal;
		word-spacing: normal;
		
		> option {
			text-align: left;
		}
	}
	.ws-input-seperator {
		vertical-align: middle;
		width: 2%;
		overflow: hidden;
	}
	
	& + .input-buttons {
		margin-left: 2px;
	}
	
	input,
	.ws-input-seperator	{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
		display: inline-block;
	}
}

span.ws-input {
	display: inline-block;
}

.ws-date {

	.mm,
	.dd {
		width: 23.5%;
		min-width: 10%;
	}
	.yy {
		width: 48%;
		min-width: 20%;
	}
	&.ws-month-select {
		
		.dd {
			width: 22%;
			min-width: 10%;
		}
		.mm {
			width: 38%;
			min-width: 17%;
		}
		
		.yy {
			width: 36%;
			min-width: 16%;
		}
	}
}

.ws-month {
	.mm,
	.yy {
		width: 47.9%;
		min-width: 20%;
	}
}

/* range */
.ws-range {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: em(7.5) 0;
	zoom: 1;
	border: none;
	height: em(8);
	width: 155px;
	border-radius: em(5);
	background: #ddd;
	cursor: pointer;
	font-size: 13px;
	outline: none;
	transition: background-color 400ms, border-color 400ms;
	background-color: #ddd;
	box-shadow: 0 em(-1) em(1.5) rgba(0, 0, 0, 0.2) inset;
	
	[list] + & {
		margin: em(2.5) 0 em(12.5);
	}
	
	.ws-range-thumb {
		@extend %contentbox;
		$dim: 20;
		top: 0;
		position: absolute;
		display: block;
		z-index: 4;
		margin: em(($dim - 8) / -2) 0 0 em($dim / -2);
		height: em($dim);
		width: em($dim);
		border-radius: 50%;
		background: #ccc;
		border: em(1) solid #aaa;
		cursor: pointer;
		transition: background-color 400ms, border-color 400ms;
		
		> span {
			position: absolute;
			margin: 0 0 3px -90px;
			padding: 0;
			border: 0;
			left: 50%;
			bottom: em($dim + 1);
			visibility: hidden;
			width: 180px;
			text-align: center;
			background: none;

			span {
				visibility: visible;
				&:after,
				&:before {
					content: "";
					padding: em(1) em(3.5);
					text-align: center;
					background: #fff;
					border: em(1) solid #ccc;
					border-radius: em(4);
					visibility: visible;
				}
			}
		}
		
	}

	&.ws-focus .ws-range-thumb {
		background: #eee;
		border-color: #999;
	}
	
	&.ws-active .ws-range-thumb {
		box-shadow: 0 0 em(9) rgba(0, 75, 100, 0.2);
	}
	
	&[aria-disabled="true"],
	&[aria-readonly="true"] {
		cursor: default;
		opacity: 0.95;
	}
	
	&[aria-disabled="true"]  .ws-range-thumb,
	&[aria-readonly="true"]  .ws-range-thumb {
		cursor: default;
	}
	
	&[aria-disabled="true"] .ws-range-thumb {
		background: #ddd;
		border-color: #ddd;
	}

	.ws-range-rail {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		zoom: 1;
	}

	.ws-range-progress {
		position: absolute !important;
		display: block;
		margin: 0;
		padding: 0 !important;
		top: 0;
		border-radius: em(5);
		height: 100%;
		left: 0;
		z-index: 1;
		overflow: hidden;
		background: #09c;
		box-shadow: 0 em(1.5) em(3.5) rgba(255, 255, 255, 0.2) inset;
	}

	.ws-range-ticks {
		position: absolute;
		bottom: em(-10);
		left: 0;
		height: em(8);
		width: em(1);
		margin: 0 0 0 em(-1);
		background: #ccc;
		transition: background-color 400ms, color 400ms;
		
		&.ws-selected-option {
			background: #09c;
			color: #09c;
		}
	}
	
	&.ws-is-rtl {
		.ws-range-progress {
			left: auto;
			right: 0;
		}
		.ws-range-ticks {
			left: auto;
			right: 0;
		}
	}
	
	&.vertical-range {
		width: em(8);
		margin: 0 10px 0 5px;
		
		.ws-range-ticks {
			bottom: auto;
			left: auto;
			margin:  em(-0.75) 0 0 0;
			right: em(-7.5);
			height: em(1.5);
			width: em(6.8);
		}
		
		.ws-range-progress {
			top: auto;
			bottom: 1px;
			left: 0;
			width: 100%;
			height: 0;
		}
		
	}
}


.ws-range-ticks[data-label]:after,
.ws-range-ticks:before {
	display: none;
	content: attr(data-label);
	font-size: em(10);
	min-width: 2em;
	text-align: center;
	margin: em(9) 0 0 -0.95em;
	
	.ws-is-rtl & {
		margin: em(9) -0.95em 0 0;
	}
	
	.vertical-range & {
		margin: 0 0 0 5px;
		position: relative;
		top: -0.7em;
		left: em(7);
		min-width: 0;
	}
}

.ws-range-ticks:before {
	content: attr(data-value);
}

.ws-range-thumb {
	> span {
		&,
		span:after,
		span:before {
			display: none;
		}
	}
}


/* helper classes to hide show/hide specific range features features */
@each $class in $rangeapis {
	.#{$class} {
		@extend %#{$class};
	}
}


//date popover
$border-light: 1px solid #ddd;
$button-bgcolor: #f5f5f5;
%ws-button {
	border-radius: em(4);
	background: #ccc;
	padding: em(5) em(8);
	display: inline-block;
	border: em(1) solid transparent;
}
.ws-inline-picker {
	@extend %contentbox;
	position: relative;
	max-width: 100%;
	z-index: 99;
}
.input-picker {
	overflow: visible;
	font-size: 13px;
	outline: none;
	text-align: center;
	font-family: sans-serif;
	width: em(360);
	min-width: em(270);
	max-width: 96vw;

	.ws-po-outerbox {
		-webkit-transform: translate(0, 30%);
		transform: translate(0, 30%);
		
		
	}
	&[data-vertical="bottom"] .ws-po-outerbox {
		-webkit-transform: translate(0, -30%);
		transform: translate(0, -30%);
	}
	
	&.time-popover,
	&.datetime-local-popover {
		width: em(415);
	}
	
	&.time-popover	{
		.ws-prev,
		.ws-next,
		.ws-super-prev,
		.ws-super-next	{
			display: none;
		}
	}
	
	&.ws-size-2 {
		width: em(645);
	}
	
	&.ws-size-3 {
		width: em(960);
	}
	
	&.color-popover {
		width: 590px;
	}
	
	abbr[title] {
		cursor: help;
	}
	
	li,
	button {
		font-size: em(13);
		line-height: em(16);
		color: #000;
		transition: all 400ms;
	}
	
	.ws-focus,
	:focus {
		outline: 1px dotted #000;
	}
	

	.ws-po-box {
		position: relative;
		padding: em(15) em(20);
		border-radius: em(5);
		box-shadow: 0 0 2px rgba(0, 0, 0, .3);
		direction: ltr;
	}
	
	.ws-picker-controls {
		position: absolute;
		top: em(15);
		
		> button {
			border: em(1) solid #ccc;
			border-radius: em(5);
			padding: 0;
			width: em(24);
			height: em(24);
			background: #eee;
			z-index: 1;
			color: #333;
			
			&.ws-year-btn:after,
			&:before {
				display: inline-block;
				content: "";
				width: 0px;
				height: 0px;
				border-style: solid;
				margin-top: em(3.8);
			}
			
			span {
				display: none;
			}
			
			&:hover	{
				border-color: #666;
				color: #000;
			}
			
			&[disabled]{
				opacity: 0.4;
				border-color: #eee;
				color: #ddd;
			}
		}
	}
	
	.prev-controls,
	.ws-po-box[dir="rtl"] .next-controls {
		left: em(20);
		right: auto;
		
		[class*="ws-super-"]:after,
		button:before {
			border-width: 0.35em 0.6em 0.35em 0;
			border-color: transparent #333 transparent transparent;
			margin-left: -0.1em;
		}
		
		[class*="ws-super-"] {
			margin-right: em(3);
			margin-left: 0;

			&[disabled] {
				display: none;
			}
		}
		
	}
	
	.next-controls,
	.ws-po-box[dir="rtl"] .prev-controls {
		right: em(20);
		left: auto;
		
		button:before {
			margin-left: em(1.5);
		}
		
		
		[class*="ws-super-"]:after,
		button:before {
			border-width: 0.35em 0 0.35em 0.6em;
			border-color: transparent transparent transparent #333;
			margin-right: -0.1em;
		}
		
		[class*="ws-super-"] {
			margin-left: em(3);
			margin-right: 0;

			&[disabled]	{
				display: none;
			}
		}
	}

	&.ws-po-visible .ws-picker-controls button {
		&:after,
		&:before {
			content: " ";
		}
	}
	
	.ws-po-box[dir="rtl"] {
		direction: rtl;
		
	}

	&.time-popover .ws-picker-body {
		padding-top: em(36);
	}

	.ws-picker-body {
		@extend %clearfix;
		position: relative;
		padding: em(40) 0 0;
		zoom: 1;
		margin: 0 em(-10);
	}
	

	.ws-button-row {
		@extend %clearfix;
		position: relative;
		margin: em(10) 0 0;
		border-top: em(1) solid #eee;
		padding: em(10) 0 0;
		text-align: left;
		z-index: 2;

		button {
			@extend %ws-button;
			
			border: em(1) solid #ccc;
			border-radius: 5px;
			box-shadow: 1px 1px 0 #fff;
			background-color: #ddd;
			background-image: -webkit-linear-gradient(top, #ececec 0%, #ddd 100%);
			background-image: linear-gradient(to bottom, #ececec 0%, #ddd 100%);
			transition: border-color 200ms linear;
			float: left;

			&.ws-empty {
				float: right;
			}
		}
	}
	
	.ws-po-box[dir="rtl"] .ws-button-row button {
		float: right;
		
		&.ws-empty {
			float: left;
		}
	}
	
	
	&[data-currentview="setMonthList"] .ws-picker-header > select,
	&[data-currentview="setYearList"] .ws-picker-header > select{
		max-width: 90%;
	}
	
	&[data-currentview="setDayList"] .ws-picker-header > select {
		max-width: 40%;
	}
	
	&[data-currentview="setDayList"] .ws-picker-header > .month-select {
		max-width: 50%;
	}
	
	&.time-popover .ws-picker-header {
		top: em(-30);
		
		button {
			font-size: em(15);
		}
	}
	
	
	.ws-picker-header {
		position: absolute;
		top: em(-40);
		right: 0;
		left: 0;
		margin: 0 em(35);

		> button {
			display: inline-block;
			width: 100%;
			margin: 0;
			padding: em(4) 0;
			font-weight: 700;
			color: #000;
			
			> .month-digit,
			> .monthname-short {
				display: none;
			}
			
			&:after {
				content: " ";
				margin: -0.1em 0.5em 0;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 0.3em 0.6em 0.3em;
				border-color: transparent transparent #333 transparent;
				vertical-align: middle;
				
			}

			&:hover {
				text-decoration: underline;
			}
			
			&[disabled]:after {
				display: none !important;
			}
			
			&[disabled]:hover {
				text-decoration: none;
			}
		}
	 }
	
	.picker-grid {
		@extend %clearfix;
		position: relative;
		zoom: 1;
		overflow: hidden;
		
		.monthname,
		.month-digit {
			display: none;
		}
	}
	
	&.ws-size-1 .picker-list  {
		float: none;
		width: auto;
	}
	
	.picker-list {
		@extend %clearfix;
		position: relative;
		zoom: 1;
		width: em(290);
		float: left;
		margin: 0 10px;
		background: #fff;
		
		tr {
			border: 0;
		}

		th,
		td {
			padding: em(3) em(5);
			text-align: center;
		}
		
		&.day-list td {
			padding: em(0.5) em(2);
			
			> button {
				padding: em(5.5) 0;
			}
		}
		
		&.time-list {
			> .ws-picker-header > button > .monthname {
				display: inline;
			}
			
			td {
				padding: em(1) em(5);
				
				> button {
					padding: em(6.85) 0;
				}
			}
		}


		td > button {
			display: block;
			padding: em(20.669) 0;
			width: 100%;
			border-radius: em(5);
			color: #000;
			background-color: #fff;

			&.othermonth {
				color: #888;
			}

			&:hover,
			&.checked-value {
				color: #fff;
				background: #000;
			}

			&[disabled],
			&[disabled]:hover {
				color: #888;
				background-color: #fff;
			}
		}
		
		table {
			width: 100%;
			margin: 0;
			border: 0 none;
			border-collapse: collapse;
			table-layout: fixed;
		}

		th,
		td.week-cell {
			font-size: em(13);
			line-height: em(16);
			padding-bottom: em(3);
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	
	.ws-options {
		margin: em(10) 0 0;
		border-top: em(1) solid #eee;
		padding: em(10) 0 0;
		text-align: left;
		
		h5 {
			margin: 0 0 em(5);
			padding: 0;
			font-size: em(14);
			font-weight: bold;
		}
		
		ul,
		li {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		
		button {
			@extend %clearfix;
			display: block;
			padding: em(4);
			width: 100%;
			text-align: left;
			border-radius: em(4);
			
			&.ws-focus,
			&:focus,
			&:hover {
				color: #fff;
				background: #000;
			}
			
			&[disabled],
			&[disabled].ws-focus,
			&[disabled]:focus,
			&[disabled]:hover {
				color: #888;
				background: #fff;
				text-decoration: none;
			}
			.ws-value {
				float: left;
			}
			
			.ws-label {
				float: right;
				font-size: 96%;
			}
		}
	}
	/* Selector API: */
	.ws-week,
	.ws-year-btn {
		display: none;
	}
}
.ws-picker-controls > button {
	display: inline-block;
}
.ws-picker-header > button:after {
  display: none;
}

.ws-picker-header select {
	display: none;
}
/* helper classes to hide show/hide specific picker features */
@each $class in $pickerapis {
	.input-picker[data-class~="#{$class}"],
	.#{$class} .input-picker {
		@extend %#{$class};
	}
}
